@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

body {
	font-family: "Noto Sans", "Noto Sans TC";
}

h1 {
	font-family: inherit;
	text-transform: none;
	line-height: 6rem;
}
h2 {
	font-family: inherit;
	text-transform: none;
	line-height: 6rem;
}
h3 {
	font-family: inherit;
	text-transform: none;
	line-height: 6rem;
}
h4 {
	font-family: inherit;
	text-transform: none;
	line-height: 6rem;
}

.subheading {
	font-family: inherit;
	text-transform: none;
	margin-top: 1rem;
}

.timeline{
	position: relative;
	margin: 0 auto;
}

.timeline::after{
	content:'';
	position: absolute;
	width: 6px;
	background-color: #bd5d38;
	top: 0;
	bottom: 0;
	left: 50%;
	margin-left: 35px;
}

.timeline-block{
	padding: 10px 40px;
	position: relative;
	background-color: inherit;
	width:50%;
}
/* The circles on the timeline */
.timeline-block::after{
	content:'';
	position: absolute;
	width: 25px;
	height: 25px;
	right: -50px;
	background-color:white;
	border: 4px solid #bd5d38;
	top: 15px;
	border-radius: 50%;
	z-index: 1;
}

